<div class="component">
    <div class="row">
        <div class="d-flex justify-content-center">
          <div class="col-sm-12 col-md-6">
            <div class="card" style="margin-bottom: 15px">
              <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <!-- FORM -->
                <form
                  [formGroup]="threadForm"
                  (ngSubmit)="onSubmit()"
                  class="row g-3"
                >
                  <div class="col-12">
                    <label for="inputTitle" class="form-label">Title</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="title"
                      id="inputTitle"
                      aria-describedby="titleHelp"
                      [ngClass]="{
                        'is-invalid':
                        threadForm.get('title')?.invalid &&
                        threadForm.get('title')?.touched
                      }"
                    />
                    <span
                      *ngIf="
                        !threadForm.get('title')?.valid &&
                        threadForm.get('title')?.touched
                      "
                      class="invalid-feedback"
                    >
                      <p id="title-invalid">
                        Title must be at least 5 characters long
                      </p>
                    </span>
                  </div>
      
                  <div class="col-12">
                    <label for="inputContent" class="form-label">Content</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="content"
                      id="inputContent"
                      aria-describedby="contentHelp"/>
                  </div>
      
                  <div class="col-12">
                    <label for="inputImage" class="form-label">Image URL</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="image"
                      id="inputImage"
                      aria-describedby="imageHelp"
                      [ngClass]="{
                      'is-invalid':
                      threadForm.get('image')?.invalid &&
                      threadForm.get('image')?.touched
                    }"
                  />
                  <span
                    *ngIf="
                      !threadForm.get('image')?.valid &&
                      threadForm.get('image')?.touched
                    "
                    class="invalid-feedback"
                  >
                    <p id="image-invalid">
                      Please enter a valid image URL
                    </p>
                  </span>
                  </div>
      
                  <div class="text-center">
                      <button
                        *ngIf="createThread"
                        style="margin-right: 5px"
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!threadForm.valid"
                      >
                        Create
                      </button>
      
                      <!--EDIT BUTTON-->
                      <button
                      *ngIf="!createThread"
                      style="margin-right: 5px"
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="!threadForm.valid"
                    >
                      Edit
                    </button>
      
                      <!--EDIT CANCEL BUTTON-->
                      <button 
                        *ngIf="!createThread"
                        style="margin-left: 5px"
                        type="reset"
                        class="btn btn-danger"
                        [routerLink]="['/communities', communityId, 'threads', threadId]"
                      >
                        Cancel
                      </button>
      
                      <!--EDIT CANCEL BUTTON-->
                      <button 
                      *ngIf="createThread"
                      style="margin-left: 5px"
                      type="reset"
                      class="btn btn-danger"
                      [routerLink]="['/communities', communityId]"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
                <!-- END FORM -->
              </div>
            </div>
          </div>
        </div>
      </div>
</div>