<div class="row">
    <div *ngFor="let thread of threads" class="col-6 col-thread">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="float-start">{{ thread.title }}</h5>
                <p class="float-end">{{ thread.creationDate | date: 'dd-MM-yyyy on HH:mm' }}</p>
                <p class="clear-both">{{ thread.content }}</p>
                <hr>
                <button class="btn btn-primary float-start clear-both" routerLink="/communities/{{ communityId }}/threads/{{ thread._id }}">Details</button>
                <p class="float-end">{{ thread.views }} views</p>
            </div>
        </div>
    </div>
</div>

<!-- (click)="increaseViews(thread._id.toString())" -->