<div class="component">
    <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-9">
            <h3 id="aboutTitle">Over deze applicatie</h3>
            <p>
                Deze applicatie is gemaakt in het kader van het vak 'Clientside web
                frameworks' van Avans Hogeschool Breda.
            </p>
            <hr>
            <h1>Gessit</h1>
            <h5>Projectbeschrijving</h5>
            <p>
                De casus die ik heb gemaakt/gekozen is het maken van een forumapplicatie genaamd Gessit. De applicatie is
                te vergelijken met bijvoorbeeld Reddit (vandaar de naam ;) ). Bezoekers kunnen namelijk binnen mijn site communiceren en discussiëren 
                over allerlei verschillende soorten onderwerpen. Om deze communicatie gescheiden te houden en de app geordend te 
                laten maak ik gebruik van zogenoemde "communities" die nu al in deze ontwikkelstage van de app te zien zijn 
                en waarop al verschillende operaties op uitgevoerd kunnen worden. Gebruikers kunnen dus in de toekomst berichten 
                plaatsen binnen deze "communities" die ook weer gemaakt kunnen worden door de gebruikers zelf om zo discussies 
                die over hetzelfde onderwerp gaan bij elkaar te houden, zodat de applicatie geordend blijft en het voor de 
                gebruiker overzichtelijker word. Binnen deze "communities" kunnen ook weer "threads" aangemaakt worden om zo
                een "community" nog verder op te delen en georganiseerd te houden. Binnen deze "threads" kunnen gebruikers in 
                de toekomst berichten sturen en met elkaar communiceren. Op het "thread" object kunnen al verscheidene operaties
                uitgevoerd worden binnen mijn app op dit moment. Met deze site hoop ik uiteindelijk het stellen van vragen en het 
                starten van communicatie te bevorderen tussen mensen over de gehele wereld om hen zo dichter bij elkaar te brengen, 
                zodat ze altijd hulp kunnen vragen en nieuwe connecties kunnen maken binnen mijn app.

                <br>
                <br>
            </p>
            <h5>Entiteitbeschrijving</h5>
            <p>
                Één van de entiteiten die ik tot nu toe dus heb verwerkt is het zogenoemde "community" object. Dit is eigenlijk een soort
                van groep waar gebruikers in de toekomst lid van kunnen worden als zij bijvoorbeeld geinteresseerd zijn in een
                bepaald onderwerp waar dan die "community" de nadruk op legt en dat deze dus vol staat met discussies en vragen over
                dat specifieke onderwerp waar een gebruiker nou juist zo geinteresseerd in is. Zo kunnen mensen makkelijk en snel meedoen
                aan de communicatie online en nieuws ontvangen over onderwerpen wat hun ook echt interessant vinden. Door gebruik
                te maken van "communities" blijven online gesprekken binnen mijn app ook goed gescheiden van elkaar op basis van
                onderwerp, wat de overzichtelijkheid en bruikbaarheid van mijn app verbeterd.

                <br>
                <br>

                Naast het "community" object heb ik ook nog een "thread" entiteit verwerkt binnen mijn applicatie. Een "thread" kan eigenlijk
                gezien worden als een groep in een "community" waarin daadwerkelijk berichten gestuurd kunnen worden door ingelogde gebruikers.
                Iedere gebruiker binnen een "community" kan een "thread" aanmaken en het wat inhoud geven zoals bijvoorbeeld een afbeelding of
                een titel om onder andere een discussie te starten of een vraag te stellen aan de andere gebruikers binnen de "community". Gebruikers
                kunnen dan in de toekomst dus binnen de aangemaakte "thread" berichten sturen als reactie op de inhoud van de "thread" om zo vragen
                te beantwoorden of mee te doen aan discussies. Door een "community" op te delen in "threads" hou ik iedere community overzichtelijk
                en zorg ik ervoor dat meerdere gebruikers bijvoorbeeld hun vragen kwijt kunnen in een "community", omdat er dus dankzij de "threads"
                meerdere soort van tekstkanalen zijn waar gebruikers met elkaar kunnen chatten in de toekomst doormiddel van de "message" entiteit.
                Deze entiteit word in de toekomst uiteraard gerealiseerd om dus de gebruikers daadwerkelijk de mogelijkheid te geven om met elkaar in
                gesprek te gaan.

                <br>
                <br>

                Hieronder geef ik de verschillende attributen die het "community" object en het "thread" object tot nu toe hebben (met een in-memory database)
                en benoem ik de datatypes ervan en geef ik een korte beschrijving.
            </p>

            <h6>Het "community" object:</h6>
            <ul>
                <li>_id: string (de unieke identificator)</li>
                <li>name: string (een naam)</li>
                <li>description: string (een beschrijving)</li>
                <li>image: string (de url)</li>
                <li>creationDate: Date (wanneer hij gemaakt is)</li>
                <li>isOpen: boolean (of hij publiek is)</li>
            </ul>
            
            <h6>Het "thread" object:</h6>
            <ul>
                <li>_id: string (de unieke identificator)</li>
                <li>communityId: string (de unieke identificator van de gelinkte community)</li>
                <li>title: string (de titel)</li>
                <li>content: string (de inhoud)</li>
                <li>views: number (hoe vaak hij bekeken is)</li>
                <li>likes: number (hoe vaak hij "geliked" is)</li>
                <li>dislikes: number (hoe vaak hij "gedisliked" is)</li>
                <li>creationDate: Date (wanneer hij gemaakt is)</li>
                <li>image: string (de url)</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div
                    class="d-flex justify-content-center align-items-center px-3 py-3"
                >
                    <img
                        src="assets/images/person.png"
                        class="card-img-top rounded-circle border profile-pic px-4 py-4"
                        alt="..."
                    />
                </div>
                <div class="card-body">
                    <h5 class="card-title">Guus van Damme</h5>
                    <p class="card-text">Studentnummer: 2182402</p>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
    <h3>Entiteiten</h3>
    <p>
        In de onderstaande afbeelding is mijn ERD te zien die ik heb gemaakt voor mijn forum casus applicatie.
    </p>

    <div class="col-12">
        <img src="assets/images/forum_app.png" class="px-5 py-5 about-erd" alt="..." />
    </div>

    <p>
        Hieronder beschijf ik alle entiteiten en attributen die ook in de bovenstaande ERD voorkomen met daarbij de 
        bijbehorende datatypen.
    </p>
    
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <p>User (de gebruiker zelf die berichten kan sturen, communities aan kan maken etc.)</p>
            <ul>
                <li>id: ObjectId (“autogenerated” door mongodb)</li>
                <li>name: String</li>
                <li>birthDate: Date</li>
                <li>emailaddress: String</li>
                <li>phonenumber: String</li>
                <li>password: String</li>
                <li>registerDate: Date</li>
                <li>image: String</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Community (de "groep" waarin "threads" worden aangemaakt waarin berichten worden verstuurd)</p>
            <ul>
                <li>id: ObjectId (“autogenerated” door mongodb)</li>
                <li>name: String</li>
                <li>description: String</li>
                <li>ranking: Number</li>
                <li>creationDate: Date</li>
                <li>image: String</li>
                <li>isOpen: Boolean</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Theme (het thema van een "thread" of "community")</p>
            <ul>
                <li>id: ObjectId (“autogenerated” door mongodb)</li>
                <li>name: String</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Thread (een "chat" binnen een "community" waar gebruikers berichten in kunnen sturen)</p>
            <ul>
                <li>id: ObjectId (“autogenerated” door mongodb)</li>
                <li>title: String</li>
                <li>content: String</li>
                <li>views: Number</li>
                <li>likes: Number</li>
                <li>dislikes: Number</li>
                <li>creationDate: Date</li>
                <li>image: String</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <p>Message (een bericht wat een gebruiker maakt en verstuurd)</p>
            <ul>
                <li>id: ObjectId (“autogenerated” door mongodb)</li>
                <li>content: String</li>
                <li>likes: Number</li>
                <li>dislikes: Number</li>
                <li>sendDate: Date</li>
            </ul>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col">
            <h3>Userstories</h3>
            <p>
                Hieronder beschrijf ik al mijn user stories in de vorm van een lijst om een duidelijk overzicht te bieden
                van alle functionaliteiten die mijn applicatie moet gaan bevatten.
            </p>
    
            <table class="table table-bordered">
                <thead>
                    <th>Nr</th>
                    <th class="col-12">Userstory</th>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>
                            Als gebruiker wil ik een account aan kunnen maken, zodat ik toegang heb tot de
                            functionaliteiten binnen mijn app.
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>
                            Als gebruiker wil ik andere gebruikers kunnen volgen, zodat ik makkelijker connecties kan
                            maken met al bekende mensen en hun activiteiten kan volgen. 
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>
                            Als gebruiker wil ik een community aan kunnen maken, zodat ik met mensen met dezelfde
                            interesses kan communiceren via threads in de community.                             
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>
                            Als gebruiker wil ik één of meerdere thema’s toevoegen aan mijn community, zodat ik
                            makkelijk het globale onderwerp van een community kan zien. 
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>
                            Als gebruiker wil ik één of meerdere thema’s toevoegen aan mijn thread die mijn community
                            ook heeft, zodat ik makkelijk het globale onderwerp van een thread kan zien. 
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>
                            Als gebruiker wil ik een thread aan kunnen maken binnen een community, zodat ik vragen
                            kan stellen of een discussie kan starten. 
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>
                            Als gebruiker wil ik een ranking kunnen zien van alle communities, zodat ik makkelijk de
                            bekendste communities kan zien en er eventueel aan kan deelnemen.
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>
                            Als gebruiker wil ik een bericht kunnen liken of disliken, zodat andere gebruikers kunnen
                            zien wat ik van een bericht vind. 
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>
                            Als gebruiker wil ik een thread kunnen liken of disliken, zodat andere gebruikers kunnen zien
                            wat ik van een thread vind.                             
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>
                            Als gebruiker wil ik een bericht kunnen sturen binnen een thread, zodat ik kan discussiëren
                            met andere gebruikers over een bepaald onderwerp. 
                        </td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>
                            Als gebruiker wil ik aan een community deel kunnen nemen, zodat ik toegang heb tot alle
                            functionaliteiten van een community zoals berichten sturen in threads van een community. 
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>
                            Als gebruiker wil ik een bericht kunnen sturen binnen een thread als reactie op een ander
                            bericht, zodat ik kan reageren op andere gebruikers zijn berichten om een discussie te
                            kunnen voeren. 
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>
                            Als gebruiker wil ik andere gebruikers kunnen ontvolgen, zodat ik connecties kan verbreken
                            met andere mensen.                             
                        </td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>
                            Als gebruiker wil ik een zelfgemaakte community kunnen bewerken, zodat ik eventueel het
                            onderwerp ervan aan kan passen. 
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>
                            Als gebruiker wil ik een zelfgemaakte community kunnen verwijderen, zodat ik een niet
                            gebruikte community permanent kan verwijderen en de toegang voor alle gebruikers op kan
                            zeggen.                             
                        </td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>
                            Als gebruiker wil ik een zelfgemaakte thread kunnen bewerken, zodat ik eventueel het
                            onderwerp van de discussie of vraag kan veranderen. 
                        </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>
                            Als gebruiker wil ik een zelfgemaakte thread kunnen verwijderen, zodat ik een niet relevante
                            thread kan verwijderen en mensen toegang kan verbieden.                             
                        </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>
                            Als gebruiker wil ik een bericht kunnen bewerken, zodat ik de inhoud van mijn bericht aan
                            kan passen en mijn boodschap kan veranderen.                             
                        </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>
                            Als gebruiker wil ik een bericht kunnen verwijderen, zodat ik een bericht wat per ongeluk is
                            verstuurd kan weghalen uit een thread.
                        </td>
                    </tr>
                    <tr>
                        <td>20</td>
                        <td>
                            Als gebruiker wil ik uit kunnen loggen uit mijn account, zodat ik ongewenst gebruik van mijn
                            account kan voorkomen.                             
                        </td>
                    </tr>
                    <tr>
                        <td>21</td>
                        <td>
                            Als gebruiker wil ik een profiel overzicht hebben, zodat ik makkelijk een overzicht kan
                            weergeven van mijn persoonlijke gegevens. 
                        </td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>
                            Als gebruiker wil ik mijn account kunnen verwijderen, zodat ik bij een niet-gebruikt account
                            de toegang permanent op kan zeggen. 
                        </td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>
                            Als gebruiker wil ik mijn account kunnen bewerken, zodat ik bij een verandering van mijn
                            persoonlijke gegevens ook mijn account hierop aan kan passen. 
                        </td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>
                            Als gebruiker wil ik in kunnen loggen, zodat ik gebruik kan maken van meer functionaliteiten
                            binnen de app en ik toegang heb tot een aangepaste persoonlijke app. 
                        </td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van alle communities waaraan ik nog niet
                            deelneem die zijn aangemaakt door andere gebruikers, zodat ik duidelijk kan zien aan welke
                            communities ik nog kan deelnemen. 
                        </td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van alle communities waaraan ik al deelneem die
                            zijn aangemaakt door andere gebruikers, zodat ik makkelijk deze kan bezoeken en eventueel
                            nieuwe berichten kan plaatsen. 
                        </td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van alle communities waaraan ik al deelneem die
                            door mijzelf zijn aangemaakt, zodat ik deze makkelijk kan bezoeken om ze te bekijken,
                            bewerken of verwijderen.                             
                        </td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van alle threads die binnen een community zijn
                            aangemaakt door andere gebruikers, zodat ik snel kan reageren op vragen of discussies van
                            andere gebruikers. 
                        </td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van alle threads die binnen een community zijn
                            aangemaakt door mijzelf, zodat ik snel antwoorden op een door mijn gestarte discussie kan
                            bekijken. 
                        </td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van alle threads die binnen mijn community zijn
                            aangemaakt, dus onder andere ook degene die zijn verwijderd door een gebruiker, zodat ik
                            echt toegang heb tot alle threads in mijn community.
                        </td>
                    </tr>
                    <tr>
                        <td>31</td>
                        <td>
                            Als gebruiker wil ik een overzicht met alle aanbevolen communities kunnen bekijken
                            gebaseerd op de thema’s van de communities die ik al volg, zodat ik aan nieuwe
                            communities kan deelnemen die binnen mijn interessesfeer liggen en dus aantrekkelijk voor
                            mij zijn.
                        </td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>
                            Als gebruiker wil ik een overzicht met alle aanbevolen threads die het meeste zijn geliked
                            door mensen die ik volg, zodat ik deze ook makkelijk kan zien en eraan deel kan nemen. 
                        </td>
                    </tr>
                    <tr>
                        <td>33</td>
                        <td>
                            Als gebruiker wil ik een overzicht kunnen bekijken van alle aanbevolen communities die het
                            meeste worden gevolgd door mensen die ik zelf volg, zodat ik makkelijk kan zien waar de
                            interesses liggen van die gebruikers en ik aan dezelfde communities kan deelnemen.
                        </td>
                    </tr>
                    <tr>
                        <td>34</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van gebruikers die het meest gevolgd worden door
                            gebruikers die ik zelf volg, zodat ik makkelijker connecties kan leggen tussen al misschien
                            bekende of gewoon interessante personen die ook gebruik maken van de app. 
                        </td>
                    </tr>
                    <tr>
                        <td>35</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van threads waarop mensen die ik volg het meeste
                            reacties achter hebben gelaten, zodat ik snel de meest actieve en relevante discussies kan
                            vinden voor de mensen die ik volg en eraan kan deelnemen.
                        </td>
                    </tr>
                    <tr>
                        <td>36</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van communities waarin de meeste threads
                            worden aangemaakt door mensen die jij volgt, zodat ik makkelijk de meest actieve en
                            relevante vragen kan beantwoorden en deel kan nemen aan discussies van bekende
                            personen. 
                        </td>
                    </tr>
                    <tr>
                        <td>37</td>
                        <td>
                            Als gebruiker wil ik een overzicht kunnen bekijken van alle gebruikers die aan een door mijn
                            gemaakte community deelnemen, zodat ik deze gebruikers eventueel kan verwijderen uit de
                            community. 
                        </td>
                    </tr>
                    <tr>
                        <td>38</td>
                        <td>
                            Als gebruiker wil ik een gebruiker kunnen verwijderen uit een door mijn gemaakte
                            community, zodat misdragende gebruikers zo snel mogelijk gestopt kunnen worden. 
                        </td>
                    </tr>
                    <tr>
                        <td>39</td>
                        <td>
                            Als gebruiker wil ik een thread kunnen verwijderen uit een door mijn gemaakte community,
                            zodat ik eventueel kwetsende discussies of vragen uit mijn community kan halen en kan
                            verbergen voor alle gebruikers. 
                        </td>
                    </tr>
                    <tr>
                        <td>40</td>
                        <td>
                            Als gebruiker wil ik berichten kunnen verwijderen die gestuurd zijn door andere gebruikers
                            binnen mijn community die kwetsend kunnen zijn voor andere gebruikers, zodat ik deze kan
                            verbergen voor alle gebruikers en onder andere haatverspreiding kan voorkomen. 
                        </td>
                    </tr>
                    <tr>
                        <td>41</td>
                        <td>
                            Als gebruiker wil ik een overzicht hebben van gebruikers die ik zelf volg, zodat ik makkelijker
                            bepaalde gebruikers op kan zoeken en eventueel kan ontvolgen. 
                        </td>
                    </tr>
                    <tr>
                        <td>42</td>
                        <td>
                            Als gebruiker wil ik het overzicht van gebruikers die ik zelf volg kunnen filteren, zodat ik
                            sneller een bepaalde gebruiker kan vinden.                             
                        </td>
                    </tr>
                    <tr>
                        <td>43</td>
                        <td>
                            Als gebruiker wil ik het overzicht van communities waaraan ik nog niet deelneem kunnen
                            filteren, zodat ik makkelijker bepaalde communities op kan zoeken die binnen mijn
                            interessesfeer liggen. 
                        </td>
                    </tr>
                    <tr>
                        <td>44</td>
                        <td>
                            Als gebruiker wil ik de overzichten van communities waaraan ik al wel deelneem kunnen
                            filteren, zodat ik snel een bepaalde community kan opzoeken en bekijken. 
                        </td>
                    </tr>
                    <tr>
                        <td>45</td>
                        <td>
                            Als gebruiker wil ik de overzichten van threads kunnen filteren, zodat ik snel een bepaalde
                            discussie of vraag op kan zoeken. 
                        </td>
                    </tr>
                    <tr>
                        <td>46</td>
                        <td>
                            Als gebruiker wil ik het overzicht van gebruikers die deelnemen aan een community kunnen
                            filteren, zodat ik snel een bepaalde gebruiker binnen een bepaalde community op kan
                            zoeken.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>