/* You can add global styles to this file, and also import other style files */
.component {
    margin: 5px;
    padding: 10px;
}

.card {
    padding: 5px;
    margin: 5px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-detail-img {
    height: 300px;
}

.detail-img {
    justify-self: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.about-erd {
    width: 65%;
}

.form-group {
    padding: 15px;
}

body {
    background-color: #EFEFEF !important;
    padding-bottom: 30px;
}

nav {
    padding-left: 40px !important;
}

.clear-both {
    clear: both;
}

.card-threads-title {
    margin-top: 15px;
}

.col-thread {
    padding-top: 15px;
}

.nav-link:hover {
    cursor: pointer !important;
}